@{
    Layout = "_Layout";
}

@section Header {}
@section Footer {}
@section Breadcrumbs {}

@RenderBody()

<div class="container" style="width: 50%; padding-top: 50px">
    <div class="row" align="center">
        <div class="col-md-4 col-md-offset-1">
            <img src="~/images/Food1.bmp" />
        </div>
        <div class="col-md-4">
            <img src="~/images/Food2.bmp" />
        </div>
        <div class="col-md-4">
            <img src="~/images/Food3.bmp" />
        </div>
    </div>
</div>