@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<div><b>Message: @Model.Message</b></div>
<div>Error occured at @Model.Time. Look up log files to get more info about it.</div>
