@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </div>
</nav>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a class="text-dark" asp-controller="Products" asp-action="Index">Products</a>
    </div>
    <div>
        <a class="text-dark" asp-controller="Categories" asp-action="Index">Categories</a>
    </div>
</div>