@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<ul>
    <li>@Html.ActionLink("View categories", "Index", new { controller = "Categories" })</li>
    <li>@Html.ActionLink("View products", "Index", new { controller = "Products" })</li>
</ul>